/.env
/vendor
/node_modules
/public/build
/public/hot
/storage/*.key
/storage/logs/*.log
/storage/framework/cache/data
/storage/framework/sessions
/storage/framework/testing
 /storage/framework/views/*.php
/.phpunit.cache
/logs
/logs/*
core_v3/logs/
/.venv
.venv/
/.venv
.venv/
